DB_HOST=xxxxxxxxxxxx.aws.tidbcloud.com
DB_PORT=xxxxx
DB_USERNAME=1234xxxxx
DB_PASSWORD=password12345xx
DB_DATABASE=test
VERIFY_TOKEN=12345xxxxxxxxx
FB_APP_ID=123456789234
FB_APP_SECRET=123456789xxxxxxx
GEMINI_API_KEY=AIzaXXXXXXXXXXXXXXXXXXXXXXXXX
FB_REDIRECT_URI=XXXXXXXXX.NET/api/auth/facebook/callback
FRONTEND_URL=https://preview--social-smart-reply.lovable.app

